@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
.container,
.bottomCard,
.cardGroup {
    gap: 1.5rem;
}

.card {
    width: 18vw;
    min-width: 18rem;
    gap: .5rem;
}

.card>div:first-of-type {
    font-weight: 400;
    gap: .5rem;
}

.card>div:first-of-type img {
    width: 4rem;
}
.toolsImg{
    background-color: #fff;
    border-radius: 5px;
    min-height: 50px;
    min-width: 50px;
    height: 50px;
    width: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.toolsImg img {    
    border-radius: 5px;
 }
.card {
    padding: 0rem 1.5rem;
    background: linear-gradient(132.5deg, rgba(239, 239, 239, 0.12) -24.93%, rgba(255, 255, 255, 0.02) 109.66%);
    border-radius: 1.66rem;
}

.bottomCard {
    width: 85%;
    padding: 1.5rem;
    background: linear-gradient(132.5deg, rgba(239, 239, 239, 0.12) -24.93%, rgba(255, 255, 255, 0.02) 109.66%);
    border-radius: 1.66rem;
}
.card {
    padding-bottom: 0.2rem;
    min-height: 30vh;
}

.container [data-hide] {
    transition: 1s all;
    transition-delay: 0.2s;
}
.container [data-hide="hidden"] {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.container [data-hide="visible"] {
    opacity: 1;
    transform: translateY(0);
}
.container[data-visible="false"] [data-hide] {
    opacity: 0;
}

.container[data-visible="false"] [data-hide="left"] {
    transform: translate(-50%, 50%);
}

.container[data-visible="false"] [data-hide="right"] {
    transform: translate(50%, 50%);
}

.container[data-visible="false"] [data-hide="down"] {
    transform: translateY(50%);
}


@media screen and (max-width: 700px) {
/* .card {
    min-width: 18rem;
} */
}